<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script type="text/javascript" src="/../asserts/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript" src="/../asserts/js/popper.min.js" ></script>
    <script type="text/javascript" src="/../asserts/js/bootstrap.min.js"></script>

    <title>修改密码</title>
</head>
<body>
<div th:replace="teacher/main::topbar"></div>

<div class="container-fluid">
    <form  class="" role="form" action="/teacher/edit_password" method="post">
        <div class="input-group">
            <label>新密码</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="新密码"  required="">
            <br><br>
            <label>确认新密码</label>
            <input type="password" id="password_affirm" name="password_affirm" placeholder="确认新密码" class="form-control"  required="">
        </div>
        <br>
        <button id="submitpassword" type="submit" class="btn btn-default" onclick="f()">提交</button>
        <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    </form>
</div>
<script type="text/javascript">

    function f(){

        var password = $('#password').val();
        var password_affirm = $('#password_affirm').val();
        if(password!=password_affirm){
            alert("密码不一致");
        }
    }
</script>
</body>
</html>